:root {
  --bg-color: #f8f9fa;
  --text-color: #212529;
}

.theme-dark {
  --bg-color: #212529;
  --text-color: #f8f9fa;
}

.theme-blue {
  --bg-color: #dbeafe;
  --text-color: #1e3a8a;
}

.theme-solarized {
  --bg-color: #fdf6e3;
  --text-color: #657b83;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 250px;
}

#lineChart {
  max-width: 100%;
  margin: auto;
}